* {
  box-sizing: border-box;
}

body {
  position: relative;
}

html,
body,
#app,
.container {
  height: 100%;
  min-height: fit-content;
}

#app {
  display: flex;
}

.container {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 30px 4px 0;
  gap: 4px;
  background-color: $orange-300;

  a {
    font-weight: 600;
    color: $gray-800;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;

    &.active {
      background-color: rgba($gray-50, 0.5);
    }
    &:hover {
      text-decoration: underline;
      color: $gray-900;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 1px solid $gray-200;
    }
  }
}

.welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
